.aboutWrap{
    margin: 200px auto;
    max-width: 2000px;
    h2{
        width: 200px;
        font-size: 2em;
        text-align: center;
        background: #000;
        color: #fff;
        border-radius: 10px;
    }

}
